@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://use.typekit.net/eea7oea.css");

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: row;
}

.mainLeft {
  flex: 1;
}

.mainRight {
  flex: 1;
  font-family: meno-banner, normal;
  font-weight: 400;
  font-size: 96px;
}

.mainLogo {
  width: 30vw;
  fill: whitesmoke;
  stroke: #000;
  stroke-width: 0;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}

.Link {
  color: unset;
  
}
