@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url("https://use.typekit.net/eea7oea.css");

.App {
  text-align: center;
  background-color: #131418;
  font-family: meno-banner, normal;
  min-height: 100vh;
  max-height: 100vh;
  color: whitesmoke;
  fill: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
}

.Header {
  overflow: hidden;
  flex: 0 1 auto; /* Sized to content */
}

main {
  background-image: url('./images/voicu-apostol-93F3aiv_ioM-unsplash.jpg');
  flex: 1 1 auto; /* fills remaining space in flexbox */
  display: grid;
}

.Home {
  display: flex;
  height: 100%;
}

.ProjectList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.ProjectCard {
  height: 240px;
  width: 1000px;
  background-color: #131418;
  border-radius: 16px;
  margin: 32px;
  padding: 32px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 32px;
  transition: box-shadow 200ms
}

.ProjectCard:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.ProjectCard img {
  flex: 1;
  object-fit: cover;
  border-radius: 8px;
  min-width: 0px;
}

.ProjectCard .Right {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  justify-content: left;
  gap: 16px;
}

.ProjectCard h1 {
  font-weight: 200;
  color: goldenrod;
  margin: 0;
}

.ProjectCard p {
  margin: 0;
  color: gainsboro;
  flex: 1 1 auto;
}

.ProjectCard .IconBar {
  display: flex;
  justify-content: end;
}

.mainLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mainLogo {
  width: 20vw;
  height: auto;
  fill: whitesmoke;
  stroke: #000;
  stroke-width: 0;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  padding: 10%;
}

.mainLink {
  color: unset;
  font-weight: 400;
  font-size: 96px;
  text-decoration: none;
  flex: 1;
  transition: color 250ms;
}

.mainLink:hover {
  color: goldenrod;
}

.linkContainer {
  padding: 16px;
}
